body{
    background-color: rgba(30, 30, 30, 1);
}
p{
    color: white;
    font-family: 'PT Sans;', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    line-height: normal;
}
h1{ 
    font-family: 'DM Sans', sans-serif; ;
    font-size: 40px;
    font-weight: 700;
    color: white;
}
h2{
    font-family: 'PT Sans;', sans-serif; ;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
h3{
    font-family: 'PT Sans;', sans-serif; ;
    font-size: 28px;
    font-weight: 700;
    color: white;
}
a{  
    font-family: 'DM Sans', sans-serif;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color: #FF9900;
}
.none{
    display: none;
}
.flex{
    display: flex;
}
.block{
    display: block;
}
button{
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 300;
    border: none;
    background-color: transparent;
}
.orange{
    color: #FF9900;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
header{
    min-height: 100vh;
}
.menu{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 153, 0, 1);
    padding: 25px 0px 25px 0px;
}
.hamburger-menu{
    display: none;
}
.contacts__toggle{
    border: none;
}
.tagline-title{
    display: none;
}
.button-hamburger{
    display: none;
    cursor: pointer;
}
.our-contacts-button{
    display: none;
}
.communications_list{
    display: flex;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar__item{
    display: flex;
    margin-left: 18px;
}
.phone-numbers{
    display: flex;
    align-items: center;
}
.text-list{
    margin-left: 8px;
}
.communications_list__item{
    margin-right: 25px;
}
.phone-numbers__button{
    margin-left: 6px;
}
.our-mail{
    display: flex;
    align-items: center;
}
.our-telegram{
    display: flex;
    align-items: center;
}
.header_bottom{
    margin-top: 104px;
    display: flex;
    justify-content: space-between;
}
.tagline__subtitle{
    margin-top: 10px;
    text-align: center;
}
.tagline__buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
.our-works{
    display: flex;
    align-items: center;
}
.our-works__signpost{
    vertical-align: middle;
}
.tagline-button{
    border-radius: 90px;
    padding: 8px 0px 8px 0px;
    width: 154px;
    background-color:#F90;
    border: none;
}
.tagline{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.our-works__button-label{
    display: flex;
    align-items: center;
    justify-content: center;
}
.picture-section{
    display: flex;
}
.picture-section__images{
    margin-left: 25px;
}
.picture-section__image-bottom{
    margin-top: 20px;
}
.button-slider{
    display: flex;
    margin-top: -70px;
    justify-content: center;
}
.image-top-marking{
    display: block;
}
.about-us{
    margin-top: 40px;
    padding-bottom: 140px;
}
.about-us__inner{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}
.title-article__h2{
    text-wrap: balance;
}
.text-article{
    margin-top: 30px;
    padding-bottom: 40px;
}
.button-article{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.button-article__options{
    border: 1px solid #FF9900;
    padding: 16px 0px 16px 0px;
    width: 500px;
    border-radius: 90px;
    font-size: 14px;
    font-weight: 400;
}
.about-us__article{
    width: 55%;
}
.about-us__advantage{
    display: flex;
    justify-content: space-between;;
}
.text-article__size{
    font-size: 15px;
    text-wrap: balance;
}