@media (max-width: 1140px) {

.tagline-title, .button-hamburger{
        display: flex;
    }
.menu{   
        border: none;
        flex-direction: column;
        display: none;
    }
.hamburger-menu{
    display: flex;
}
.navbar{
    flex-direction: column;
    align-items: start;
}
.navbar__item{
    margin-left: 0px;
}
.communications_list{
    flex-direction: column;
}
}