body{
    background-color: rgba(30, 30, 30, 1);
}
p{
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    line-height: normal;
}
h1{ 
    font-family: 'DM Sans', sans-serif; ;
    font-size: 40px;
    font-weight: 700;
    color: white;
}
h2{
    font-family: 'DM Sans', sans-serif; ;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
a{  
    font-family: 'DM Sans', sans-serif;
    color: white;
    text-decoration: none;
}
a:hover{
    color: yellowgreen;
}
button{
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 300;
}
.orange{
    color: #F90;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}
.menu{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 153, 0, 1);
    padding: 25px 0px 25px 0px; 
}
.communications_list{
    display: flex;
}
.navbar{
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.navbar__item{
    display: flex;
    margin-left: 18px;
    align-items: center;
}
.phone-numbers{
    display: flex;
    align-items: center;
}
.text-list{
    margin-left: 8px;
}
.communications_list__item{
    margin-right: 25px;
}
.button_number{
    display: inline-block;
}
.phone-numbers__button{
    margin-left: 6px;
}
.our-mail{
    display: flex;
    align-items: center;
}
.our-telegram{
    display: flex;
    align-items: center;
}
.navbar__item:hover{
    color:yellowgreen;
}
.popup {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #aaa;
    padding: 10px;
  }
.header_bottom{
    margin-top: 104px;
    display: flex;
    justify-content: space-between;
}
.tagline__subtitle{
    margin-top: 10px;
    text-align: center;
}
.tagline__buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
.our-works{
    display: flex;
    align-items: center;
}
.our-works__signpost{
    vertical-align: middle;
}
.tagline-button{
    border-radius: 90px;
    padding: 8px 0px 8px 0px;
    width: 154px;
    background-color:#F90;
    border: none;
}
.tagline{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.our-works__button-label{
    display: flex;
    align-items: center;
    justify-content: center;
}
.picture-section{
    display: flex;
}